/* mondoSurf.css */

body  {
    
    background-color:lightskyblue;
    
}
#forecast {
    border: 1px dotted black;
    width: 50%; 
}
#spots {
    border: 1px solid black;
}

#spots tbody tr:nth-child(odd) {

    background-color: aqua;
}
    
#spots tbody tr:first-of-type {
    color: crimson;
}
        
tr {
    margin: 0px;
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    
}

td {
    border: none;
}

.spotButton {

    border-radius: 6px;

}