/* mondoSurf.css */

body {
    
background-color:lightskyblue

}
table {

width: 100%;
    
}

tbody tr:nth-child(odd) {
      
background-color: aqua;
    
}

tbody tr:first-of-type {

color: crimson;

}

button {
    
    
}